@model StudentCourse.Models.CourseDetalj

@{
    ViewData["Title"] = "InsertCourse";
}

<h2>Lägg till ny kurs</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InsertCourse">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Co_Name" class="control-label">Kursnamn</label>
                <input asp-for="Co_Name" class="form-control" />
                <span asp-validation-for="Co_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Co_Period" class="control-label">Period</label>
                <input asp-for="Co_Period" class="form-control" />
                <span asp-validation-for="Co_Period" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Co_Studyrate" class="control-label">Studietakt</label>
                <input asp-for="Co_Studyrate" class="form-control" />
                <span asp-validation-for="Co_Studyrate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Filtrering">Back to List</a>
</div>

