@model StudentCourse.Models.StudentDetalj

@{
    ViewData["Title"] = "UpdateStudent";
}

<h2>UpdateStudent</h2>

Antal rader uppdaterade: @ViewBag.antal
Eventuellt felmeddelande: @ViewBag.error 

<h4>StudentDetalj</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateStudent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="St_Firstname" class="control-label"></label>
                <input asp-for="St_Firstname" class="form-control" />
                <span asp-validation-for="St_Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="St_Lastname" class="control-label"></label>
                <input asp-for="St_Lastname" class="form-control" />
                <span asp-validation-for="St_Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="St_Pnr" class="control-label"></label>
                <input asp-for="St_Pnr" class="form-control" />
                <span asp-validation-for="St_Pnr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

